#container {
/*	border: 2px solid black;*/
	border: 5px solid black;
	width: 360px;
	height: 360px;
	margin: 0 auto;
	border-radius: 50px;
	margin-bottom: 20px;
}

.side6 {
	background: url(six.png);
	background-size: 360px 360px;
}

.side5 {
	background: url(five.png);
	background-size: 360px 360px;
}

.side4 {
	background: url(four.png);
	background-size: 360px 360px;
}

.side3 {
	background: url(three.png);
	background-size: 360px 360px;
}

.side2 {
	background: url(two.png);
	background-size: 360px 360px;
}

.side1 {
	background: url(one.png);
	background-size: 360px 360px;
}

div {
	/*background: black;*/
}

#btncontainer {
	width: 250px;
	height: 50px;
	margin: 0 auto;
	border-radius: 25px;
}


button {
	width: 250px;
	height: 50px;
	font-size: 24px;
	background-color: black;
	color: red;
	border: 2px red solid;
	border-radius: 25px;
}

button:focus {
	border-radius: 25px;
}